
    rewrite ^/{{ group_name }}/([^/]+)$ $scheme://$http_host/{{ group_name }}/$1/ redirect ;

    ### FCGIs
    location ~ ^/(?<group>{{ group_name }})/(?<appname>[^/]+)/(.*) {
{% if group_islocal %}
            # Only available for local connections
            allow 127.0.0.1;
{% endif %}

            include fastcgi_params;
            fastcgi_pass unix:{{ group_path }}/$appname/uwsgi.sock;
    }
